/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v10/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v10/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
    font-family: 'Lemonada';
    font-style: normal;
    font-weight: 600;
    src: local('Lemonada'), local('Lemonada-Regular'), url(https://fonts.gstatic.com/s/lemonada/v2/8WipxwtaRTvZbOxx1JVbFBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lemonada';
    font-style: normal;
    font-weight: 600;
    src: local('Lemonada'), local('Lemonada-Regular'), url(https://fonts.gstatic.com/s/lemonada/v2/zAj2aFAUh05bGotD4xxRVvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*Other fonts to consider:
  Shadows+Into+Light
  Julee
*/

#app {
  font-family: Ubuntu,Arial,Helvetica,sans-serif;
  font-size: 16px;
}

#app.theme--dark.v-application {
  background-image: url("/img/bkg_dark.png") ;
  background-color: black;
}

#app.theme--light.v-application {
  background-image: url("/img/bkg_light.png") ;
  background-color: white;
}

header {
 background:rgba(0,0,0,0.1);
 width:100%;
 border-bottom:1px dashed #b5e853;
 padding:20px 0;
 margin:0 0 40px 0
}

header h1 {
 font-size:30px;
 line-height:1.5;
 font-weight:bold;
 font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
 color:#b5e853;
 text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
 letter-spacing:-1px;
 -webkit-font-smoothing:antialiased
}

#circular-icon {
	font-size: 30px;
	font-weight: bold;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: #b5e853;
}

.v-navigation-drawer {
  border-right:1px dashed #b5e853;
}

.move-icon-left {
  transform: translate(-8px,0);
}

table {
  width: 100%;
}

td,th {
  text-align: justify;
}

td.suhclogtime {
  text-align: center;
  vertical-align: top;
  padding-right: 1em;
}

.v-expansion-panel-content__wrap {
	padding: 16px;
}

/* Not yet used */
.middle-symbol-outer {
	position: absolute;
	display: table;
	z-index: 10;
	width:100%;
	height:100%;
    background-image: url("/img/bkg.png") ;
    background-color: black;
}

.middle-symbol-outer .middle-symbol-inner {
	display: table-cell;
	vertical-align: middle;
}
