h2 {
    color: #aaffee;
    margin-left: 20px;
}
a:link {
	color: #aabbff;
}
a:visited {
	color: #ffabab;
}
a:hover {
	color: #ffff88
}
body {
    color: #ffffff;
	background-image: url("bg1.png");
	background-color: #111111
}

